// fonts
$font_main: 'Jost', serif;

// colors
$color_orange: #FF6600;
$color_green: #339966;
$color_black: #333333;
$color_light-black: #949494;
$color_gray: #C8C8C8;
$color_light-gray: #F2F2F2;
$color_white: #FFFFFF;